<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kun.bdbd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".KunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_lanuch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_lanuch"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name="kun.module_login.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
    </application>

</manifest>
